.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	max-width: 525px;
}

.heading-product {
	display: flex;
	align-items: center;
	font-size: 36px;
	font-weight: 600;
	line-height: 36px;
}

.back {
	width: 7px;
	height: 13px;
	margin-right: 36px;
	cursor: pointer;
}

.to-buck {
	background: linear-gradient(135deg, #ff7b7b, #ff5c5c);
	color: white;
	font-size: 16px;
	border-radius: 20px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.to-buck img {
	filter: brightness(0) invert(1); /* Делаем изображение белым */
}

.description-product {
	display: flex;
	gap: 30px;
	align-items: center;
}
.description-product div {
	display: flex;
	flex-direction: column;
	gap: 5px; 
	font-size: 18px;
}
.description-product img {
	width: 323px;
	height: 248px;
	border-radius: 10px;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.product-info p {
	display: grid;
	grid-template-columns: 100px auto; /* Первая колонка фиксирована, вторая адаптивная */
	align-items: center;
	font-size: 18px;
	margin-bottom: 10px;
}

.product-info ul {
	margin-top: 5px;
	padding-left: 20px;
}
